@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'iDdroid', sans-serif;
    src: url('fontes/idroid.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padr達o: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'iDroid', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
   background-color: var(--cor0);
   font-family: var(--fonte-padr達o);
   min-height: 150px;
}
a.externo::after {
    content: '\00A0\1F517';
}
header {
    font-family: var(--fonte-padr達o);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding-top: 40px;
    min-height: 150px;
    text-align: center;
}
header > h1 {
    color: #ffffff;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(59, 59, 59, 0.788);
    margin-bottom: 20px;
}
header > p {
    font-family: var(--fonte-padr達o);
    font-size: 1.2em;
    color: #ffffff;
    text-shadow: 2px 2px 0px rgba(59, 59, 59, 0.788);
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    margin: auto;
}
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.308);
}
nav > a {
    font-family: Arial, Helvetica, sans-serif;
    background: #c5ebd62c;
    padding: 5px 10px;
    border-radius: 3px;
    color: #ebebeb;
    margin: 5px 0;
    display: inline-block;
    border: none;
    text-decoration: none;
}
nav > a:hover {
    background: var(--cor0);
    color: var(--cor5);
    text-decoration: none;
}
main {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    border-radius: 0px 0px 10px 10px;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: 0px auto 20px auto;
}
main h1 {
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
    color: var(--cor5);
}
main h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-size: 1.3em;
}
main p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
    margin: 15px 0px;
}
main strong {
    color: var(--cor4);
    font-weight: bold;
}
main a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}
main img {
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
img.imgpos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.video {
    background-color: var(--cor4);
    height: 0px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;  
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
} 
aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.397);
}
aside > ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}
aside h3 {
    color: white;
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}